/* Variables ================================================================================= */
:root{
    --main-color : #19c8fa;
    --transparent-color: rgb(15 116 143 / 70%);
    --section-padding: 100px;
}
/* Global Rules ============================================================================== */
*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Open Sans", sans-serif;
}
ul{
    list-style: none;
}
.container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Components ============================================================================== */
.main-heading{
    text-align: center;
}
.main-heading h2{
    font-weight: normal;
    font-size: 40px;
    position: relative;
    margin-bottom: 70px;
    text-transform: uppercase;

}
.main-heading h2::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    height: 2px;
    background-color: #333;
    bottom: -30px;
    width: 120px;
}
.main-heading h2::after{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border-radius: 50%;
    border: 2px solid #333;
    bottom: -38px;
    background-color: white;
}
.main-heading p{
    width: 550px;
    margin: 0 auto 100px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
/* Small screen ============================================================================== */
@media (min-width: 768px) {
    .container{
        width: 750px
    }
}
/* midium screen ============================================================================= */
@media (min-width:992px) {
    .container{
        width: 970px
    }
}
/* Large screen ============================================================================== */
@media (min-width: 1200px) {
    .container{
        width: 1170px
    }
}
/*====================================================================================================================================================================== */
/* header ==================================================================================== */

@media (max-width: 767px) {
    header nav ul{
        display: none;          /*this is for small screens */
    }
    header nav .toggle-menu:hover + ul{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        background-color: rgb(0 0 0/50%);
    }
    header nav ul li a{
        padding: 15px !important;
    }
}
/* Landing Section =========================================================================== */
@media (max-width: 767px) {
    .landing .text{
        width: 100%;
    }
    .landing .text .content{
        max-width: 100%;
    }
}
@media (max-width: 767px) {
    .landing .change-background{
        display: none;
    }
}
/* Services ================================================================================== */
@media (min-width: 768px) {
    .services .services-container{
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        grid-column-gap: 40px;
        grid-row-gap: 60px;
    }
}
@media (max-width: 767px) {
    .services .srv-box{
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-bottom: 40px;
    }
    .services .srv-box i{
        margin: 0 0 30px;
    }
}
/* Design ================================================================================= */
@media (max-width: 767px) {
    .design .image{
        display: none;          /*this is for small screens */
    }
}
/* Portfolio ================================================================================= */

/* About Us ================================================================================== */

/* Contact =================================================================================== */

/* Footer ==================================================================================== */